#todo_table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

#todo_table th, #todo_table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}